<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Curriculo</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/sobre-mim']">Sobre Mim</a>
        <a class="nav-link" [routerLink]="['/formacao']"> Formação Acadêmica </a>
        <a class="nav-link" [routerLink]="['/profissional']">Experiências Profissionais</a>
        <a class="nav-link" [routerLink]="['/habilidades']">Habilidades</a>
        <a class="nav-link" [routerLink]="['/contato']">Contato</a>
      </div>
    </div>
  </div>
</nav>


<!-- <div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div> -->