<div class="card">
  <div class="card-header">
    <h3>32º Oficial de Registro Civil e Tabelião de Notas - Capela do Socorro</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Escrevente</p>
      <p class="card-text"><small class="text-muted">Outubro 2018 – Até o momento</small></p>
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>32º Oficial de Registro Civil e Tabelião de Notas - Capela do Socorro</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Auxiliar</p>
      <p class="card-text"><small class="text-muted">Julho 2015 – Setembro 2018</small></p>
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3> MSKF - Academia de Kung Fu</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Instrutor e Repecionista</p>
      <p class="card-text"><small class="text-muted">abril 2014 – Jan 2015</small></p>
    </blockquote>
  </div>
</div>