<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/imagens/dh-coding-school-logo.jpg" class="card-img" alt="Logo Digital House">
      <img src="../../../assets/imagens/santander.png" class="card-img" alt="Logo Santander">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Digital House em parceria com o grupo Santander</h3>
        <h5 class="card-text">Desenvolvimento Web Full Stack</h5>
        <p class="card-text">Desenvolvimento de um projeto de curso utilizando tecnologias como Angular,HTML, CSS,
           JavaScript, TypeScript, Java, SpringBoot e  SQL.
        </p>
        <p class="card-text"><small class="text-muted">Jul 2020 – Dez 2020</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/imagens/senac.png" class="card-img" alt="Logo Centro Universitário SENAC">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Centro Universitário Senac</h3>
        <h5 class="card-text">TADS - Técnologia em Análise e Desenvolvimento de Sistemas</h5>
        <p class="card-text">Projetos envolvendo lógica de programação, trabalho em equipe e raciocinio rápido.<br>
          Desenvolvimentos de sistemas de controle de estoque e e-commerces para a disciplina "Projeto Integrador",
        utilizando tecnologias como Java, JavaScript, SQL, HTML e CSS</p>
        <p class="card-text"><small class="text-muted">Jan 2015 – Jul 2017</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/imagens/24demarco.png" class="card-img" alt="Logo Colégio 24 de Março">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Colégio 24 de Março</h3>
        <h5 class="card-text">Ensino Médio</h5>
        <p class="card-text"><small class="text-muted">Jan 2009 –  Dez 2014</small></p>
      </div>
    </div>
  </div>
</div>