<div class=box>
  <div id="card" class="card text-center" style="width: 18rem;">
    <img src="../../../assets/imagens/eu.png" class="card-img-top" alt="Foto de Leyner">
    <div class="card-body">
      <h5 class="card-title">Leyner Bueno</h5>
    </div>
    <div class="card">
      <div class="card-body">
        <p>Uma pessoa calma, esforçada, muito bem humorada e que adora trabalhar em grupo.Tenho como maior
          característica
          a
          curiosidade, gosto de pensar que isso me ajuda a descobrir novas formas de fazer as coisas, e sempre procurar
          uma
          ou mais soluções para o problema. Busco a primeira experiência profissional na área de tecnologia, visando
          aprender coisas novas e exercitar todos os conhecimentos que já possuo.</p>
        23 Anos<br>
        São Paulo - Capital <br>
      </div>
    </div>
  </div>
</div>